Laminh.CMS.WinForm/Service References/ServiceReference1/ActionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCmsPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CmsPage" nillable="true" type="tns:CmsPage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCmsPage" nillable="true" type="tns:ArrayOfCmsPage" />
  <xs:complexType name="CmsPage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CacheTime" type="xs:int" />
          <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
          <xs:element minOccurs="0" name="MasterFileSource" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageDescribe" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageId" type="xs:int" />
          <xs:element minOccurs="0" name="PageLanguage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageMetadata" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageParentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageView" type="xs:int" />
          <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CmsPage" nillable="true" type="tns:CmsPage" />
  <xs:complexType name="BusinessObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BusinessObject" nillable="true" type="tns:BusinessObject" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceProducts" nillable="true" type="tns:ArrayOfInvoiceProduct" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ShortDesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfInvoiceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceProduct" nillable="true" type="tns:InvoiceProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceProduct" nillable="true" type="tns:ArrayOfInvoiceProduct" />
  <xs:complexType name="InvoiceProduct">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Invoice" nillable="true" type="tns:Invoice" />
          <xs:element minOccurs="0" name="InvoiceId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvoiceProduct" nillable="true" type="tns:InvoiceProduct" />
  <xs:complexType name="Invoice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="InvoiceProducts" nillable="true" type="tns:ArrayOfInvoiceProduct" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Total" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
</xs:schema>