Laminh.CMS.WinForm/Service References/ServiceReference1/ActionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost/ecomhost/ActionService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ecomhost/ActionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ecomhost/ActionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ecomhost/ActionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActionService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IActionService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetProductXml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductXml" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetProductXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetProductJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductJson" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetProductJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IActionService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IActionService_InsertProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="IActionService_InsertProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IActionService">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/Test" message="tns:IActionService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/TestResponse" message="tns:IActionService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/GetProductXml" message="tns:IActionService_GetProductXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/GetProductXmlResponse" message="tns:IActionService_GetProductXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/GetProductJson" message="tns:IActionService_GetProductJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/GetProductJsonResponse" message="tns:IActionService_GetProductJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/GetProduct" message="tns:IActionService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/GetProductResponse" message="tns:IActionService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionService/InsertProduct" message="tns:IActionService_InsertProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionService/InsertProductResponse" message="tns:IActionService_InsertProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ActionService">
    <wsdl:port name="MetadataExchangeHttpBinding_IActionService" binding="i0:MetadataExchangeHttpBinding_IActionService">
      <soap12:address location="http://localhost/ecomhost/ActionService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/ecomhost/ActionService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>